/* styles.css */

.SearchBarContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.SearchBarInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  font-size: 16px;
}

.SearchResults {
  margin-top: 10px;
}

.SearchResults p {
  margin: 5px 0;
}

/* styles.css */

/* Body styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

/* Navbar styles */
.navbar {
  background-color:black;
  color: #fff;
  padding: 10px;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-right: 10px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

/* Home page styles */
.home {
  text-align: center;
  margin-top: 20px;
}

.home h1 {
  color: #333;
  margin-bottom: 20px;
}

/* About page styles */
.about {
  padding: 20px;
  background-color: #fff;
  margin-top: 20px;
}

.about h2 {
  color: #333;
  margin-bottom: 10px;
}

.about p {
  color: #666;
}

/* Contact page styles */
.contact {
  padding: 20px;
  background-color: #fff;
  margin-top: 20px;
}

.contact h2 {
  color: #333;
  margin-bottom: 10px;
}

.contact p {
  color: #666;
}

/* SearchBar styles */
.search-bar {
  text-align: center;
  margin: 20px 0;
}

.search-bar input {
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* LoginForm styles */
.login-form {
  text-align: center;
  margin: 20px 0;
}

.login-form label {
  display: block;
  margin-bottom: 10px;
  color: #333;
}

.login-form input {
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-form button {
  padding: 10px 20px;
  background-color: navy;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Car List styles */
.car-list {
  padding: 20px;
  background-color: #fff;
  margin-top: 20px;
}

.car-list p {
  color: #333;
  margin-bottom: 10px;
}
