.footer {
    background-color: #f4f4f4;
    padding: 20px;
    color: #555;
    font-size: 14px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex-basis: 30%;
    margin-bottom: 20px;
  }
  
  .footer-section h4 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .footer-section p {
    margin-bottom: 5px;
  }
  
  .social-icons li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-icons a {
    color: #555;
  }
  
  .footer-bottom {
    margin-top: 20px;
    text-align: center;
    border-top: 1px solid #342f2f;
    padding-top: 10px;
  }