.navbar {
  background-color: blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: white;
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-image {
  width: 50px;
  height: 50px;
}

.company-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.company-salutaion {
  font-size: 0.8rem;
}

.navbar-list {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar-item a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-item a:hover {
  color: yellow;
}

/* style.css */

/* Body */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

/* Container */
.about-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

/* Heading Styles */
.about-heading {
  color: #333;
  font-size: 32px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.history-heading {
  color: #666;
  font-size: 24px;
  margin-bottom: 15px;
}

/* Paragraph Styles */
.company-info {
  color: #444;
  line-height: 1.6;
  margin-bottom: 15px;
  text-align: justify;
}

/* Images */
.img-container {
  text-align: center;
  margin-bottom: 20px;
}

.img-container img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Additional Styles */
.highlight {
  color: #ff6600;
  font-weight: bold;
}

.emphasis {
  font-style: italic;
}




.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.searchbar-input {
  width: 300px;
  padding: 0.5rem;
  font-size: 1rem;
}


/* main.css */

.home-container {
  text-align: center;
  padding: 20px;
  overflow-y: auto;
  max-height: calc(100vh - 40px); /* Adjust the value as needed */
}
      
  


.home-title {
  font-size: 32px;
  margin-bottom: 20px;
}

.carousel-root {
  max-width: 600px;
  margin: 0 auto;
}

.carousel .slide img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.carousel .legend {
  font-size: 18px;
  margin-top: 10px;
}

.car-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.car-card {
  width: 200px;
  text-align: center;
}

.car-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.car-card h3 {
  margin-top: 10px;
  font-size: 20px;
}

.car-card p {
  margin-top: 5px;
  font-size: 16px;
}

.company-welcome {
  margin-top: 40px;
}

.company-welcome h2 {
  font-size: 24px;
}

.company-welcome p {
  margin-top: 10px;
}

.read-more-button {
  padding: 10px 20px;
  background-color: #f50057;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.read-more-button:hover {
  background-color: #ff4081;
}

/* Add more styles as needed */
